.page__footer{
    background-color: black;
    color: white;
    padding: 20px 0;
}

footer .row{
    justify-content: space-between;
    align-items: center;    
}

.footer__list{
    display: flex;
    gap: 10px;
    font-size: 10px;
    padding-top: 6px;
}